.single__product{
    background: #1e1c1c;
    border-radius: 10px;
    cursor: pointer;
    animation: animate 1s ease-in;
}

.single__product:hover{
    box-shadow: 5px 5px 10px -5px white;
}

.product__content{
    padding: 0px 20px;
    padding-bottom: 15px;
    position: relative;
}

.product__content h6{
    color: white;
    text-align: center;
}

.rating-text-center span i{
    color:#f76E11;
}

.price{
     color:white;
}

.price span{
    color:white;
    font-size: 1.3rem;
    font-weight: 500;
}
.shopping__icon{
    /* position:absolute; */
    width: 30px;
    height: 30px;
    border-radius: 5px;
    /* background: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.order_now{
    margin-top: 10px;
    /* background-color:white; */
    border-radius: 5px;
    padding: 5px;
    width: 90px;
    
}
.order_now span{
    color: white;
}

@keyframes animate{
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);
    }
}

@media only screen and (max-width:767px){
    .product__content{
        font-size: 0.9rem;
    }
    .price{
        font-size: 0.8rem;
    }
    .price span{
        font-size: 0.9rem;
    }
    .ON{
        font-size: 0.8rem;
        width:50px;
    }
}
@media only screen and (min-width:1200) {
    .ON{
        padding-left: 10px;
    width: 50px;
    height: 40px;
    font-size: .7rem;
    padding-top: 2px;
    }
    
}